/.okrutnik_venv
/.pytest_cache
/.ruff_cache
/__pycache__
/*.cache
/*.log
/*.tar.gz
/*.spec
/*.zip
/addons/flatpak/flatpak-pip-generator
/addons/flatpak/.flatpak-builder
/bin
/build
/dist
/include
/lib/__pycache__
/lib/python3*
/lib64
/loki.pid
/okrutnik.sh
/pyvenv.cfg
/venv
/signature-base
