# Excluded directories/hashes
#
# - add directories you want to exclude from the scan
# - double escape back slashes
# - values are case-insensitive
# - each line contains a regex that matches somewhere in the full path (case insensitive)
#   e.g.:
#
#   Regex: /var/log/[^/]+\.log
#   Matches: /var/log/test.log
#   Not Matches: /var/log/test.gz
#
# - hash ecludes supported: md5sum, sha1, sha256
#   Format: md5sum:hash
# Example directory exclude
/opt/Loki-daemonized/test
# Example hash exclude (alpine 3.19 busybox-1.36.1-r15)
md5sum:4910810de8f1c095d893c545780aff26
